@use "variables";

.clock {
	--clockBackgroundImage: url("/images/themes/sgl/clock-bg.png");
	--team0ScoreBackgroundColor: #{variables.$clockBackgroundColor};
	--team1ScoreBackgroundColor: #{variables.$clockBackgroundColor};

	&.overtime {
		--clockBackgroundImage: url("/images/themes/sgl/clock-bg-ot.png");
	}

	&.goal0 {
		--team0ScoreBackgroundColor: #{variables.$goalColor};
	}

	&.goal1 {
		--team1ScoreBackgroundColor: #{variables.$goalColor};
	}

	position: absolute;
	left: 0;
	top: variables.$topHeaderHeight;
	width: variables.$scoreboardWidth;
	height: calc(variables.$scoreboardHeight - variables.$topHeaderHeight);
	background-image:
		var(--clockBackgroundImage),
		linear-gradient(to right,
			variables.$backgroundColor 0px,
			variables.$backgroundColor calc(variables.$teamLogoWidth * .5 + variables.$teamNameWidth * .02),
			var(--team0) calc(variables.$teamLogoWidth * .5 + variables.$teamNameWidth * .25),
			var(--team0) calc(variables.$teamLogoWidth * .5 + variables.$teamNameWidth),
			var(--team0ScoreBackgroundColor) calc(variables.$teamLogoWidth * .5 + variables.$teamNameWidth),
			var(--team0ScoreBackgroundColor) 100%
		),
		linear-gradient(to left,
			variables.$backgroundColor 0px,
			variables.$backgroundColor calc(variables.$teamLogoWidth * .5 + variables.$teamNameWidth * .02),
			var(--team1) calc(variables.$teamLogoWidth * .5 + variables.$teamNameWidth * .25),
			var(--team1) calc(variables.$teamLogoWidth * .5 + variables.$teamNameWidth),
			var(--team1ScoreBackgroundColor) calc(variables.$teamLogoWidth * .5 + variables.$teamNameWidth),
			var(--team1ScoreBackgroundColor) 100%
		);
	background-size:
		variables.$clockWidth calc(variables.$scoreboardHeight - variables.$topHeaderHeight),
		50% variables.$mainBarHeight,
		50% variables.$mainBarHeight;
	background-position:
		center top,
		left center,
		right center;
	background-repeat:
		no-repeat,
		no-repeat,
		no-repeat;

 	.time {
		position: absolute;
		left: 50%;
		top: calc(variables.$mainHeaderHeight + 5px);

		font-family: var(--fontHexagle);
		font-size: 58px;
		font-weight: bold;
		font-style: italic;
		color: variables.$timeColor;
		text-align: center;
		line-height: calc(variables.$mainBarHeight - 15px);
		letter-spacing: -.15rem;
		transform: translateX(-50%);

		.colon {
			position: relative;
			top: -4px;
			font-size: 75%;
			// padding-left: .12rem;
			margin: 0 -.05rem;
		}

		.plus {
			display: none;
		}

		&.semilong {
			font-size: 50px;
		}

		&.long {
			font-size: 40px;
		}

	}

	.overtimeText {
		display: none;
	}


}
