.scoreboard .header {
	position: absolute;
	width: $headerWidth;
	// height: $mainHeaderHeight;
	font-family: var(--fontHexagle);
	font-size: 24px;
	color: $textColor;
	text-transform: uppercase;
	text-align: center;
	line-height: $mainHeaderHeight;
	margin: 0 auto;
	// background: $backgroundColor;

	&.header0 {
		top: 0;
		width: calc($scoreboardWidth - 300px);
		left: 50%;
		transform: translateX(-50%);
	}

	&.header1 {
		font-size: 21px;
		font-family: var(--fontRajdhani);
		font-weight: bold;
		top: $topHeaderHeight;
		left: ($teamLogoWidth * .5);
	}

	span {
		display: inline-block;

		&:not(:last-child) {
			margin-right: .5em;
		}

	}

	@include textPipes;

}
