@use "variables";

.scoreboard .header {
	position: absolute;
	width: variables.$headerWidth;
	font-family: var(--fontHexagle);
	font-size: 24px;
	color: variables.$textColor;
	text-transform: uppercase;
	text-align: center;
	line-height: variables.$mainHeaderHeight;
	margin: 0 auto;

	&.header0 {
		top: 0;
		width: calc(variables.$scoreboardWidth - 300px);
		left: 50%;
		transform: translateX(-50%);
	}

	&.header1 {
		font-size: 21px;
		font-family: var(--fontRajdhani);
		font-weight: bold;
		top: variables.$topHeaderHeight;
		left: (variables.$teamLogoWidth * .5);
	}

	span {
		display: inline-block;

		&:not(:last-child) {
			margin-right: .5em;
		}

	}

	@include textPipes;

}
