@use "sass:math";

.matchup {
	position: absolute;
    left: 0;
    top: 0;
	width: $windowWidth;
	height: $windowHeight;
    overflow: hidden;
	background-image:
		linear-gradient(to bottom,
			var(--team0fade) 0,
			var(--team0fade) 75%,
			$backgroundTransparent 98%
		),
		linear-gradient(to bottom,
			var(--team1fade) 0,
			var(--team1fade) 75%,
			$backgroundTransparent 98%
		),
		url("/images/themes/sgl/hex-bg.png");
	background-position:
		260px 250px,
		1060px 250px,
		center center;
	background-size:
		600px 830px,
		600px 830px,
		100% 100%;
	background-repeat:
		no-repeat,
		no-repeat;

	.matchupHeader {
		position: absolute;
		top: 68.205px;
		width: $windowWidth;
		height: $pregameLeagueLogoHeight;
		background-image: linear-gradient(to bottom,
			$backgroundTransparent 0,
			$backgroundTransparent 25%,
			$sglRed 25%,
			$sglRed 28.29%,
			#1f1f1f 28.29%,
			#1f1f1f 71.71%,
			$sglRed 71.71%,
			$sglRed 75%,
			$backgroundTransparent 75%,
			$backgroundTransparent 100%
		),
		linear-gradient(to bottom,
			$backgroundTransparent 0,
			$backgroundTransparent 25%,
			$sglBlue 25%,
			$sglBlue 28.29%,
			#1f1f1f 28.29%,
			#1f1f1f 71.71%,
			$sglBlue 71.71%,
			$sglBlue 75%,
			$backgroundTransparent 75%,
			$backgroundTransparent 100%
		);
		background-size:
			50% 100%,
			50% 100%;
		background-position:
			top left,
			top right;
		background-repeat:
			no-repeat,
			no-repeat;

		.leagueLogo {
			position: absolute;
			left: 50%;
			top: 0;
			width: calc(math.div($pregameLeagueLogoHeight, $hexRatio));
			height: $pregameLeagueLogoHeight;
			transform: translateX(-50%);

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
				object-position: 50% 50%;
			}
		}

		.header {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			font-size: 42px;
			line-height: 48px;
			font-weight: bold;
			font-family: var(--fontHexagle);
			letter-spacing: .2em;
			text-transform: uppercase;

			&.header0 {
				left: 0;
				width: calc(50% - math.div($pregameLeagueLogoHeight, $hexRatio) * .5 - $borderSize - .1em);
				text-align: right;
				color: $textColor;

			}

			&.header1 {
				right: 0;
				top: 50%;
				width: calc(50% - math.div($pregameLeagueLogoHeight, $hexRatio) * .5 - $borderSize - .3em);
				height: auto;
				text-align: left;
				color: $textColor;

			}

			span {
				display: block;
			}

		}

	}

	.matchupTeams {

		.team {
			position: absolute;
			top: 309px;
			width: $matchupTeamWidth;

			.teamLogo {
				@include teamLogoHex($matchupTeamLogoSize);
				margin: 0 auto 15px;
			}

			.teamText {
				text-transform: uppercase;
				text-align: center;

				.name {
					font-family: var(--fontHexagle);
					font-size: 62px;
					font-weight: bold;
					color: $textColor;
				}

				.franchise {
					font-family: var(--fontRajdhani);
					font-size: 38px;
					color: $secondaryTextColor;
				}

			}


			&.team0 {
				left: 560px;
				transform: translateX(-50%);

				.teamLogo {
					@include placeholderTeamlogo(var(--team0tone));
				}

			}

			&.team1 {
				right: 560px;
				transform: translateX(50%);

				.teamLogo {
					@include placeholderTeamlogo(var(--team1tone));
				}

			}

		}

		.vs {
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			position: absolute;
			color: $textColor;
			font-family: var(--fontHexagle);
			font-weight: bold;
			font-style: italic;
			font-size: 80px;
			text-align: center;
		}

	}


}
