@use "sass:math";

.matchup {
	position: absolute;
    left: 0;
    top: 0;
	width: $windowWidth;
	height: $windowHeight;
    overflow: hidden;
	background-image:
		linear-gradient(to bottom,
			var(--team0fade) 0,
			var(--team0fade) 75%,
			$backgroundTransparent 98%
		),
		linear-gradient(to bottom,
			var(--team1fade) 0,
			var(--team1fade) 75%,
			$backgroundTransparent 98%
		),
		url("/images/themes/sgl/hex-bg.png");
	background-position:
		260px 256.831px,
		1060px 256.831px,
		center center;
	background-size:
		600px 823px,
		600px 823px,
		100% 100%;
	background-repeat:
		no-repeat,
		no-repeat;

	.matchupHeader {
		position: absolute;
		top: 68.205px;
		width: $windowWidth;
		height: $pregameLeagueLogoHeight;
		background-image: linear-gradient(to bottom,
			$backgroundTransparent 0,
			$backgroundTransparent 62.5px,
			$sglRed 62.5px,
			$sglRed 70.731px,
			#1f1f1f 70.731px,
			#1f1f1f 179.269px,
			$sglRed 179.269px,
			$sglRed 187.5px,
			$backgroundTransparent 187.5px,
			$backgroundTransparent 250px
		),
		linear-gradient(to bottom,
			$backgroundTransparent 0,
			$backgroundTransparent 62.5px,
			$sglBlue 62.5px,
			$sglBlue 70.731px,
			#1f1f1f 70.731px,
			#1f1f1f 179.269px,
			$sglBlue 179.269px,
			$sglBlue 187.5px,
			$backgroundTransparent 187.5px,
			$backgroundTransparent 250px
		);
		background-size:
			50% 100%,
			50% 100%;
		background-position:
			top left,
			top right;
		background-repeat:
			no-repeat,
			no-repeat;

		.leagueLogo {
			position: absolute;
			left: 50%;
			top: 0;
			width: calc(math.div($pregameLeagueLogoHeight, $hexRatio));
			height: $pregameLeagueLogoHeight;
			transform: translateX(-50%);

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
				object-position: 50% 50%;
			}
		}

		.leagueName {
			position: absolute;
			left: 0;
			top: 50%;
			width: calc(50% - math.div($pregameLeagueLogoHeight, $hexRatio) * .5 - $borderSize);
			font-family: var(--fontHexagle);
			font-size: 48px;
			font-weight: bold;
			font-style: italic;
			text-align: right;
			line-height: 48px;
			color: $textColor;
			text-transform: uppercase;
			letter-spacing: .3em;
			transform: translateY(-50%);
		}

		@import "header";

		.header {

			&.header0 {
				display: none;
			}

			&.header1 {
				position: absolute;
				right: 0;
				top: 50%;
				width: calc(50% - math.div($pregameLeagueLogoHeight, $hexRatio) * .5 - $borderSize - .3em);
				height: auto;
				transform: translateY(-50%);
				font-family: var(--fontHexagle);
				font-size: 42px;
				font-weight: bold;
				font-style: italic;
				text-align: left;
				line-height: 48px;
				color: $textColor;
				text-transform: uppercase;
				letter-spacing: .3em;
				margin: 0;
				padding: 0;
				background: none;

				span,
				span:not(:last-child) {
					display: block;
					margin: 0;
					padding: 0;

					&::after {
						display: none;
					}
				}

			}

		}

	}

	.matchupTeams {

		.team {
			position: absolute;
			top: 309px;
			width: $matchupTeamWidth;

			.logo {
				width: $matchupTeamLogoSize;
				height: calc($matchupTeamLogoSize * $hexRatio);
				margin: 0 auto 15px;
				mask-image: url("/images/themes/sgl/hex-mask.png");
				mask-size: cover;
				mask-repeat: no-repeat;
				mask-position: center center;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: 50% 50%;
					overflow-clip-margin: unset;
				}

			}

			.teamText {
				text-transform: uppercase;
				text-align: center;

				.name {
					font-family: var(--fontHexagle);
					font-size: 62px;
					font-weight: bold;
					color: $textColor;
				}

				.franchise {
					font-family: var(--fontRajdhani);
					font-size: 38px;
					color: $secondaryTextColor;
				}

			}

			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				width: $matchupTeamLogoSize;
				height: calc($matchupTeamLogoSize * $hexRatio);
				mask-image: url("/images/themes/sgl/hex-mask.png");
				mask-size: cover;
				mask-repeat: no-repeat;
				mask-position: center center;
			}

			&.team0 {
				left: 560px;
				transform: translateX(-50%);

				&:not(.hasLogo)::before {
					background: var(--team0);
				}

			}

			&.team1 {
				right: 560px;
				transform: translateX(50%);

				&:not(.hasLogo)::before {
					background: var(--team1);
				}

			}

		}

		.vs {
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			position: absolute;
			color: $textColor;
			font-family: var(--fontHexagle);
			font-weight: bold;
			font-style: italic;
			font-size: 80px;
			text-align: center;
		}

	}


}
