@use "variables";

.teamPlayerBoxes {
    position: absolute;
    top: variables.$playerBoxMargin;

	.playerBox {
		position: relative;
		width: variables.$playerBoxWidth;
		height: variables.$playerBoxHeight;
		margin-bottom: calc(variables.$playerBoxMargin + variables.$borderSize);
		padding: variables.$borderSize;
		background: variables.$backgroundColor;

		.name {
			position: absolute;
			width: calc(variables.$playerBoxWidth - variables.$borderSize * 3 - variables.$playerBoxEventSize * 2 - variables.$playerBoxBoostTextWidth);
			height: variables.$playerBoxHeight;
			overflow: hidden;
			font-family: var(--fontHexagle);
			font-size: 22px;
			color: variables.$textColor;
			text-transform: uppercase;
			line-height: variables.$playerBoxHeight;

			&.long {
				font-size: 18px;
			}

		}

		.stats {
			display: none;
		}

		.events {
			position: absolute;
			top: variables.$borderSize;
			width: calc(variables.$playerBoxEventSize * 2);
			height: variables.$playerBoxHeight;

			.eventIcon {
				display: inline;

				div {
					display: inline;
				}

				svg {
					fill: variables.$textColor;
					width: variables.$playerBoxEventSize;
					height: variables.$playerBoxHeight;
				}

			}

		}

		.boost {

			.boostText {
				position: absolute;
				top: variables.$borderSize;
				width: variables.$playerBoxBoostTextWidth;
				height: variables.$playerBoxHeight;
				color: var(--playerBoxColor);
				font-family: var(--fontHexagle);
				font-size: 26px;
				font-weight: bold;
				font-style: italic;
				line-height: variables.$playerBoxHeight;
			}

			.boostBar {
				position: absolute;
				left: 0;
				top: 100%;
				z-index: 11;
				width: 100%;
				height: variables.$playerBoxBoostBarSize;
				background: variables.$backgroundHighlight;

				.fill {
					position: absolute;
					bottom: 0;
					height: variables.$playerBoxBoostBarSize;
					background: var(--playerBoxColor);
					transition: width 100ms linear;
				}
			}
		}

		&.watching {

			.boost .boostText {
				color: variables.$textColor;
			}

		}


	}


	&.team0 {
		--playerBoxColor: var(--team0);
		left: 0;

		.playerBox {

			&.watching {
				background-image: linear-gradient(to left,
					var(--team0) 0,
					var(--team0) calc(variables.$borderSize * 3),
					variables.$backgroundColor calc(variables.$playerBoxBoostTextWidth + variables.$borderSize * 6)
				);
			}

			.name {
				left: calc(variables.$borderSize * 2);
			}

			.boost {
				text-align: right;

				.boostText {
					right: variables.$borderSize;
				}

				.boostBar {

					.fill {
						left: 0;
					}

				}

			}

			.events {
				right: calc(variables.$playerBoxBoostTextWidth + variables.$borderSize * 2);
				text-align: right;
			}

		}

	}

	&.team1 {
		--playerBoxColor: var(--team1);
		right: 0;

		.playerBox {

			&.watching {
				background-image: linear-gradient(to right,
					var(--team1) 0,
					var(--team1) calc(variables.$borderSize * 3),
					variables.$backgroundColor calc(variables.$playerBoxBoostTextWidth + variables.$borderSize * 6)
				);
			}

			.name {
				right: calc(variables.$borderSize * 2);
				text-align: right;
			}

			.boost {
				text-align: right;

				.boostText {
					left: variables.$borderSize;
				}

				.boostBar {

					.fill {
						right: 0;
					}

				}

			}

			.events {
				left: calc(variables.$playerBoxBoostTextWidth + variables.$borderSize * 2);
				text-align: left;
			}

		}

	}

	.playerBox.dead {
		opacity: .5;
		background: variables.$backgroundColor;

		.boost .boostText {
			opacity: 0;
		}

		.stats {
			opacity: 0;
		}
	}

}
