@use "sass:math";

$statPlayerWidth: 420px;
$statWidth: 100px;
$statPadding: 12px;

.playerStats {
	--backgroundFadeColor: #{rgba(#ffffff, .25)};
	--teamStripeLeft: 60px;

	position: absolute;
    left: 0;
    top: 0;
	width: $windowWidth;
	height: $windowHeight;
	color: $textColor;
	padding-top: 20px;
	background-image:
		linear-gradient(to bottom,
			var(--backgroundFadeColor) 0,
			var(--backgroundFadeColor) 75%,
			$backgroundTransparent 98%
		),
		linear-gradient(to bottom,
			var(--backgroundFadeColor) 0,
			var(--backgroundFadeColor) 75%,
			$backgroundTransparent 98%
		),
		url("/images/themes/sgl/hex-bg.png");
	background-position:
		var(--teamStripeLeft) 130px,
		60px 130px,
		center center;
	background-size:
		200px 950px,
		1800px 980px,
		100% 100%;
	background-repeat:
		no-repeat,
		no-repeat,
		no-repeat;

	.playerStatsHeader {
		@include smallHeader;

		.playerStatsTitle {
			position: absolute;
			top: 227px;
			z-index: 25;
			color: white;
			font-family: var(--fontRajdhani);
			font-size: 42px;
			font-weight: bold;
			font-style: italic;
			text-align: left;
			text-transform: uppercase;
			letter-spacing: .15em;
			margin: 0;
			padding: 0 0 0 .3em;
		}

	}

	.playerStatsTable {
		position: absolute;
		left: 310px;
		top: 240px;
		width: 1500px;
		text-transform: uppercase;
		background: $backgroundTranslucent;
		border-collapse: collapse;
		border: $borderSize solid $backgroundColor;

		th, td {
			text-align: center;
			padding: calc($borderSize * 2.5) $borderSize;
			border: $borderSize solid $backgroundColor;

			&.centerColumn {
				width: 200px;
			}

		}

		thead {

			th.teamName {
				position: absolute;
				top: 0;
				left: 0;
				padding: 0;
				background: none;

				.teamText {
					position: absolute;
					top: 130px;
					transform: rotate(-90deg);
					transform-origin: right center;
					text-align: right;
					text-transform: uppercase;

					.name {
						font-family: var(--fontHexagle);
						font-size: 70px;
						font-weight: bold;
						white-space: nowrap;
						color: $textColor;

						&.long {
							font-size: 55px;
						}

					}

					.franchise {
						font-family: var(--fontRajdhani);
						font-size: 30px;
						font-weight: normal;
						white-space: nowrap;
						color: $secondaryTextColor;
						padding-right: .12em;
					}

				}

				.teamLogo {
					position: absolute;
					top: -30px;
					@include teamLogoHex($statsTeamLogoSize);
				}

			}

			th.statHeader {
				background: $backgroundColor;
			}

			th.playerName,
			th.statHeader {
				width: $statWidth;
				color: $secondaryTextColor;
				font-family: var(--fontRajdhani);
				font-weight: bold;
				font-size: 26px;
				text-align: right;
				padding: $statPadding;

				&.pct {
					width: calc($statWidth * 1.75);
				}
			}

			th.playerName {
				width: $statPlayerWidth;
				text-align: left;
			}

		}


		tbody {
			--playerStatsTeamFade: #{$backgroundTranslucent};
			--playerStatsTeamTone: #{$backgroundHighlight};

			tr:nth-child(odd) {
				td, th {
					background:
						linear-gradient(var(--playerStatsTeamFade), var(--playerStatsTeamFade)),
						linear-gradient(var(--playerStatsTeamFade), var(--playerStatsTeamFade));
					background-blend-mode: color-burn, normal;
				}
			}

			tr:nth-child(even) {
				td, th {
					background: var(--playerStatsTeamTone);
				}
			}

			th {
				color: $textColor;
				font-family: var(--fontHexagle);
				font-size: 36px;
				font-weight: bold;
				font-style: italic;
				vertical-align: middle;
				text-align: left;
				padding: $statPadding;
			}

			td {
				width: $statWidth;
				font-family: var(--fontHexagle);
				font-size: 44px;
				font-weight: bold;
				vertical-align: middle;
				text-align: right;
				padding: $statPadding;

				.pctSymbol {
					font-size: .75em;
				}
			}

			.team0 {
				--playerStatsTeamFade: var(--team0fade);
				--playerStatsTeamTone: var(--team0tone);
			}

			.team1 {
				--playerStatsTeamFade: var(--team1fade);
				--playerStatsTeamTone: var(--team1tone);
			}

		}

	}

	&.team0 {
		--backgroundFadeColor: var(--team0fade);

		.playerStatsTitle {
			left: calc(310px + $borderSize);
		}

		.playerStatsTable {
			left: 310px;

			thead th.teamName .teamLogo {
				left: -242px;
				@include placeholderTeamlogo(var(--team0tone));
			}

			.teamText {
				right: 160px;
			}

		}

	}

	&.team1 {
		--backgroundFadeColor: var(--team1fade);
		--teamStripeLeft: 1660px;

		.playerStatsTitle {
			left: calc(110px + $borderSize);
		}

		.playerStatsTable {
			left: 110px;

			thead th.teamName .teamLogo {
				left: 1559px;
				@include placeholderTeamlogo(var(--team1tone));
			}

			.teamText {
				right: -1641px;
			}
		}



	}

}
