@use "variables";

$postgameTopHeight: variables.$scoreboardHeight;
$postgameTitleWidth: variables.$scoreboardWidth;
$mvpIconSize: 125px;

$postGameTableWidth: calc(variables.$windowWidth - 300px);


.postgame {
	position: absolute;
    left: 0;
    top: 0;
	width: variables.$windowWidth;
	height: variables.$windowHeight;
	color: variables.$textColor;
	padding-top: $postgameTopHeight;
	background-image:
		linear-gradient(to bottom,
			var(--team0fade) 0,
			var(--team0fade) 75%,
			variables.$backgroundTransparent 98%
		),
		linear-gradient(to bottom,
			var(--team1fade) 0,
			var(--team1fade) 75%,
			variables.$backgroundTransparent 98%
		),
		variables.$patternBackground;
	background-position:
		60px 250px,
		1060px 250px,
		center center;
	background-size:
		800px 850px,
		800px 850px,
		100% 100%;
	background-repeat:
		no-repeat,
		no-repeat;

	@import "scoreboard";
	@import "clock";
	@import "header";
	@import "seriesInfo";
	@import "teamlogo";
	@import "teamName";
	@import "teamScore";
	@import "teamSeriesScore";

	.branding {

		.brandLogo {
			position: absolute;
			top: 27px;
			width: 130px;
			height: 130px;

			&:nth-child(1) {
				left: 95px;
			}

			&:nth-child(2) {
				right: 95px;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
				object-position: 50% 50%;
				opacity: .5;
				filter: grayscale(.25)
			}

		}

	}

	.seriesScoreText {
		color: variables.$textColor;
		font-family: var(--fontRajdhani);
		font-size: 34px;
		font-weight: bold;
		font-style: italic;
		text-align: center;
		margin: calc(variables.$borderSize * 2) 0 0;
	}

	.title {
		position: absolute;
		left: 0;
		top: 251px;
		width: variables.$windowWidth;
		height: 44px;
		color: variables.$textColor;
		font-family: var(--fontRajdhani);
		font-size: 44px;
		font-weight: bold;
		font-style: italic;
		line-height: 44px;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: .5em;
		padding: variables.$borderSize 0;
		margin: 0 auto;
		background: #1f1f1f;
		border-top-style: solid;
		border-top-width: variables.$borderSize;
		border-bottom-style: solid;
		border-bottom-width: variables.$borderSize;
		border-image: linear-gradient(to right,
			variables.$sglRed 0,
			variables.$sglRed 860px,
			#ffffff 860px,
			#ffffff 1060px,
			variables.$sglBlue 1060px
		) 1;
	}

	.statTable {
		position: absolute;
		left: 50%;
		top: 320px;
		width: 1800px;
		transform: translateX(-50%);
		text-transform: uppercase;
		margin: 0 auto;
		table-layout: fixed;
		border-collapse: collapse;
		background-color: variables.$backgroundTranslucent;

		th, td {
			width: 255px;
			text-align: center;
			padding: calc(variables.$borderSize * 2) variables.$borderSize;
			border: variables.$borderSize solid variables.$backgroundColor;

			&.centerColumn {
				background: variables.$backgroundColor;
				width: 188px;
			}

		}

		thead {

			th {
				width: 255px;
				border-top: none;
				padding: 0;
				background: variables.$backgroundColor;

				span {
					color: var(--playerBoxColor);
					display: block;
					width: 255px;
					overflow: hidden;
					text-overflow: ellipsis;
					font-family: var(--fontHexagle);
					font-size: 28px;
					font-weight: bold;
					font-style: italic;
					text-align: center;
					line-height: 1.2em;
					padding: calc(variables.$borderSize * 2) 0;
				}

				&:has(.mvpIcon) {

					span {
						color: variables.$highlightColor;
						background-image:
							linear-gradient(to right,
								variables.$backgroundColor 0,
								rgba(variables.$highlightColor, .2) 20%,
								rgba(variables.$highlightColor, .2) 80%,
								variables.$backgroundColor 100%
							),
							url("/images/themes/sgl/mvp.png?4");
						background-position:
							center center,
							center -25px;
						background-size:
							100% 100%,
							$mvpIconSize $mvpIconSize;
						background-repeat:
							no-repeat,
							no-repeat;
						background-blend-mode:
							hard-light,
							normal;
					}

				}

				&.team0 {
					--playerBoxColor: var(--team0);
					--playerBoxColorFade: var(--team0fade);
					--playerBoxColorDirection: 160deg;

				}

				&.team1 {
					--playerBoxColor: var(--team1);
					--playerBoxColorFade: var(--team1fade);
					--playerBoxColorDirection: 200deg;

				}

				&.centerColumn {
					background: variables.$backgroundColor;
				}

				&.long span {
					font-size: 20px;
				}

				.mvpIcon {
					display: none;
				}

			}

		}

		tbody {
			--postgameTeamFade: #{variables.$backgroundTranslucent};
			--postgameTeamTone: #{variables.$backgroundHighlight};


			tr:nth-child(odd) td {
				background:
					linear-gradient(var(--postgameTeamFade), var(--postgameTeamFade)),
					linear-gradient(var(--postgameTeamFade), var(--postgameTeamFade));
				background-blend-mode: color-burn, normal;
			}

			tr:nth-child(even) td {
				background: var(--postgameTeamTone);
			}

			th {
				color: variables.$secondaryTextColor;
				font-family: var(--fontRajdhani);
				font-size: 28px;
			}

			td {
				font-family: var(--fontHexagle);
				font-size: 48px;
				font-weight: bold;
				vertical-align: middle;
			}

			.team0 {
				--postgameTeamFade: var(--team0fade);
				--postgameTeamTone: var(--team0tone);
			}

			.team1 {
				--postgameTeamFade: var(--team1fade);
				--postgameTeamTone: var(--team1tone);
			}

		}

	}

}
