@use "variables";

.replay {
    position: absolute;
    right: calc(-100px - variables.$replayWidth);
    bottom: 0;
    width: variables.$replayWidth;
    height: variables.$replayHeight;
    vertical-align: baseline;
	padding-top: variables.$borderSize;
    // transition: right .25s ease-in;
	background: variables.$backgroundTranslucent linear-gradient(to right,
		var(--replayColorFade) 0,
		var(--replayColorFade) 75%,
		variables.$backgroundTransparent 98%
	);

	&.showReplay {
		right: 0;
	}

	.replayLabel {
		position: absolute;
		// top: calc(0px - variables.$borderSize * 2 - variables.$replayLabelHeight);
		bottom: 0;
		z-index: 5;
		width: calc(variables.$replayWidth - variables.$borderSize * 4);
		height: variables.$replayLabelHeight;
		color: var(--replayColor);
		font-family: var(--fontHexagle);
		font-size: 32px;
		font-weight: bold;
		font-style: italic;
		text-align: right;
		// letter-spacing: .5em;
		padding: variables.$borderSize calc(variables.$borderSize * 2);
		background: variables.$backgroundTranslucent linear-gradient(to right,
			var(--replayColorTone) 0,
			var(--replayColorTone) 75%,
			variables.$backgroundTransparent 98%
		);
	}

	.replayLabelLeft {
		display: none;
	}

	.replayLabelRight {
		right: 0;
	}

	.statLine {
		line-height: 38px;
		padding: variables.$borderSize;

		.stat {
			height: 40px;
			margin-bottom: variables.$borderSize;

			.label {
				display: inline-block;
				font-size: 22px;
				width: 20%;
				color: variables.$secondaryTextColor;
				font-family: var(--fontRajdhani);
				text-transform: uppercase;
				text-align: right;
				vertical-align: baseline;
				margin-right: 15px;
			}

			.value {
				// display: inline-block;
				font-family: var(--fontHexagle);
				font-size: 32px;
				font-weight: bold;
				font-style: italic;
				color: variables.$textColor;
				text-transform: uppercase;
				vertical-align: baseline;

				&.long {
					font-size: 52px;
				}

			}

			&.speed {
				position: absolute;
				bottom: 0;
				left: calc(20% + 15px + variables.$borderSize);
				z-index: 69;
				text-align: right;
				line-height: variables.$replayLabelHeight;

				.value {
					text-transform: uppercase;
					color: variables.$textColor;
				}

				.label {
					width: auto;
					color: variables.$secondaryTextColor;
					text-transform: uppercase;
					margin-left: 7px;
					margin-right: 60px;

				}

			}

		}

	}

	&.team0 {
		--replayColor: var(--team0);
		--replayColorTone: var(--team0tone);
		--replayColorFade: var(--team0fade);
	}

	&.team1 {
		--replayColor: var(--team1);
		--replayColorTone: var(--team1tone);
		--replayColorFade: var(--team1fade);
	}

}
