@use "variables";

.scoreboard {
	position: absolute;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	width: variables.$scoreboardWidth;
	height: variables.$scoreboardHeight;

	// clip-path: polygon(0 0, 5% 75%, 45% 90%, 0% 40%);

	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: variables.$scoreboardWidth;
		height: variables.$scoreboardHeight;
		z-index: -1;
		background-color: variables.$backgroundColor;
		background-image:
			linear-gradient(to right,
				variables.$sglRed 0px,
				variables.$sglRed calc(variables.$teamLogoWidth * .5 + variables.$teamNameWidth + variables.$teamScoreWidth + variables.$clockWidth * .5 - variables.$topHeaderStripeGap * .5),
				variables.$backgroundColor calc(variables.$teamLogoWidth * .5 + variables.$teamNameWidth + variables.$teamScoreWidth + variables.$clockWidth * .5 - variables.$topHeaderStripeGap * .5),
				variables.$backgroundColor calc(variables.$teamLogoWidth * .5 + variables.$teamNameWidth + variables.$teamScoreWidth + variables.$clockWidth * .5 + variables.$topHeaderStripeGap * .5),
				variables.$sglBlue calc(variables.$teamLogoWidth * .5 + variables.$teamNameWidth + variables.$teamScoreWidth + variables.$clockWidth * .5 + variables.$topHeaderStripeGap * .5),
				variables.$sglBlue 100%
			),
			linear-gradient(to right,
				variables.$sglRed 0,
				variables.$sglRed 26.278px,
				variables.$backgroundColor 26.278px,
				variables.$backgroundColor 38.237px,
				variables.$sglRed 38.237px,
				variables.$sglRed 64.519px
			),
			linear-gradient(to left,
				variables.$sglBlue 0,
				variables.$sglBlue 26.278px,
				variables.$backgroundColor 26.278px,
				variables.$backgroundColor 38.237px,
				variables.$sglBlue 38.237px,
				variables.$sglBlue 64.519px
			),
		;
		background-size:
			100% variables.$topHeaderStripeHeight,
			64.519px variables.$topHeaderHeight,
			64.519px variables.$topHeaderHeight;
		background-position:
			center calc(variables.$topHeaderHeight - variables.$topHeaderStripeHeight),
			left top,
			right top;
		background-repeat:
			no-repeat,
			no-repeat,
			no-repeat;
		clip-path: polygon(
			0 variables.$topHeaderHeight,
			calc(variables.$topHeaderHeight * variables.$hexSlopeRatio) 0,
			calc(100% - variables.$topHeaderHeight * variables.$hexSlopeRatio) 0,
			100% variables.$topHeaderHeight,
			100% 100%,
			0 100%
		);

	}
}
