.seriesInfo {
	position: absolute;
	width: $headerWidth;
	top: $topHeaderHeight;
	right: ($teamLogoWidth * .5);
	width: $headerWidth;
	height: $seriesInfoHeight;
	font-family: var(--fontRajdhani);
	font-size: 21px;
	font-weight: bold;
	color: $textColor;
	text-transform: uppercase;
	text-align: center;
	line-height: $mainHeaderHeight;
}

.pipe {
	color: $secondaryTextColor;
	font-family: var(--fontSans);
	font-size: 20px;
	margin: 0 $pipeSpacing;
}
