@use "variables";

.seriesInfo {
	position: absolute;
	width: variables.$headerWidth;
	top: variables.$topHeaderHeight;
	right: (variables.$teamLogoWidth * .5);
	width: variables.$headerWidth;
	height: variables.$seriesInfoHeight;
	font-family: var(--fontRajdhani);
	font-size: 21px;
	font-weight: bold;
	color: variables.$textColor;
	text-transform: uppercase;
	text-align: center;
	line-height: variables.$mainHeaderHeight;
}

.pipe {
	color: variables.$secondaryTextColor;
	font-family: var(--fontSans);
	font-size: 20px;
	margin: 0 variables.$pipeSpacing;
}
