@use "variables";

.leagueStandings {
	position: absolute;
    left: 0;
    top: 0;
	width: variables.$windowWidth;
	height: variables.$windowHeight;
	color: variables.$textColor;
	padding-top: 20px;
	background-image:
		linear-gradient(to bottom,
			variables.$sglRedFade 0,
			variables.$sglRedFade 75%,
			variables.$backgroundTransparent 98%
		),
		linear-gradient(to bottom,
			variables.$sglBlueFade 0,
			variables.$sglBlueFade 75%,
			variables.$backgroundTransparent 98%
		),
		variables.$patternBackground;
	background-position:
		60px 130px,
		1060px 130px,
		center center;
	background-size:
		800px 980px,
		800px 980px,
		100% 100%;
	background-repeat:
		no-repeat,
		no-repeat,
		no-repeat,
		no-repeat,
		no-repeat;

	.leagueStandingsHeader {
		@include smallHeader;
	}

	.tier {
		--tierBackground: #{variables.$backgroundColor};

		position: absolute;
		top: 160px;
		width: 750px;

		&:nth-child(1) {
			--tierBackground: #{variables.$sglRedTone};
			left: 85px;

			.tierName {
				right: 725px;
			}

		}

		&:nth-child(2) {
			--tierBackground: #{variables.$sglBlueTone};
			right: 85px;

			.tierName {
				right: -75px;
			}

		}

		.tierStandingsTable {
			width: 660px;
			text-transform: uppercase;
			table-layout: fixed;
			margin-left: calc(variables.$standingsTeamLogoWidth + 14px);
			background: variables.$backgroundTranslucent;
			border-collapse: collapse;
			border: variables.$borderSize solid variables.$backgroundColor;

			th, td {
				width: 55px;
				color: #ffffff;
				font-family: var(--fontHexagle);
				text-align: right;
				font-size: 50px;
				line-height: calc(variables.$standingsTeamLogoWidth * variables.$hexRatio - variables.$borderSize);
				padding: variables.$borderSize;
				background: var(--bgColor);
				border: variables.$borderSize solid variables.$backgroundColor;

				&.team {
					position: relative;
					width: auto;
					text-align: left;
					font-size: 38px;

					.teamLogo {
						position: absolute;
						top: calc(100% - variables.$standingsTeamLogoWidth * variables.$hexRatio);
						left: calc(0px - variables.$standingsTeamLogoWidth - 24px);
						@include teamLogoHex(variables.$standingsTeamLogoWidth);
					}

					.teamCode {
						display: none;
					}

				}

				&.pct {
					width: 70px;
					font-size: 28px;
				}

				&.pts {
					width: 70px;
					font-size: 50px;
				}

			}

			thead th {
				vertical-align: baseline;
				font-family: var(--fontRajdhani);
				font-size: 26px;
				line-height: 48px;
				background: variables.$backgroundColor;
				padding-bottom: 0;

				&.team {
					color: variables.$highlightColor;
					font-family: var(--fontHexagle);
					font-size: 46px;
					background-image: linear-gradient(to right,
						var(--tierBackground) 0,
						variables.$backgroundColor 55%,
					),
					linear-gradient(to right, variables.$sglRed, variables.$backgroundColor);

				}

				&.pct {
					font-size: 24px;
				}

				&.pts {
					font-size: 32px;
				}
			}

		}

	}

}
