@use "sass:math";

$tableWidth: 1200px;
$tableCenterColumnWidth: 400px;

.teamStats {
	position: absolute;
    left: 0;
    top: 0;
	width: $windowWidth;
	height: $windowHeight;
	color: $textColor;
	padding-top: 20px;
	background-image:
		linear-gradient(to bottom,
			var(--team0fade) 0,
			var(--team0fade) 75%,
			$backgroundTransparent 98%
		),
		linear-gradient(to bottom,
			var(--team1fade) 0,
			var(--team1fade) 75%,
			$backgroundTransparent 98%
		),
		linear-gradient(to bottom,
			var(--team0fade) 0,
			var(--team0fade) 75%,
			$backgroundTransparent 98%
		),
		linear-gradient(to bottom,
			var(--team1fade) 0,
			var(--team1fade) 75%,
			$backgroundTransparent 98%
		),
		url("/images/themes/sgl/hex-bg.png");
	background-position:
		60px 130px,
		1660px 130px,
		60px 130px,
		1160px 130px,
		center center;
	background-size:
		200px 950px,
		200px 950px,
		700px 980px,
		700px 980px,
		100% 100%;
	background-repeat:
		no-repeat,
		no-repeat,
		no-repeat;

	.teamStatsHeader {
		position: absolute;
		top: 25px;
		width: $windowWidth;
		height: $pregameLeagueLogoHeightSmall;
		background-image: linear-gradient(to bottom,
			$backgroundTransparent 0,
			$backgroundTransparent 25%,
			$sglRed 25%,
			$sglRed 28.29%,
			#1f1f1f 28.29%,
			#1f1f1f 71.71%,
			$sglRed 71.71%,
			$sglRed 75%,
			$backgroundTransparent 75%,
			$backgroundTransparent 100%
		),
		linear-gradient(to bottom,
			$backgroundTransparent 0,
			$backgroundTransparent 25%,
			$sglBlue 25%,
			$sglBlue 28.29%,
			#1f1f1f 28.29%,
			#1f1f1f 71.71%,
			$sglBlue 71.71%,
			$sglBlue 75%,
			$backgroundTransparent 75%,
			$backgroundTransparent 100%
		);
		background-size:
			50% 100%,
			50% 100%;
		background-position:
			top left,
			top right;
		background-repeat:
			no-repeat,
			no-repeat;

		.leagueLogo {
			position: absolute;
			left: 50%;
			top: 0;
			width: calc(math.div($pregameLeagueLogoHeightSmall, $hexRatio));
			height: $pregameLeagueLogoHeightSmall;
			transform: translateX(-50%);

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
				object-position: 50% 50%;
			}
		}

		@import "header";

		.header {
			position: absolute;
			font-size: 30px;
			top: 50%;
			transform: translateY(-50%);
			color: $textColor;
			font-family: var(--fontHexagle);
			font-weight: bold;
			font-style: normal;
			text-transform: uppercase;
			letter-spacing: .1em;
			background: none;
			margin: 0;
			padding: 0;

			&.header0 {
				left: 0;
				width: calc(50% - math.div($pregameLeagueLogoHeightSmall, $hexRatio) * .5 - $borderSize - $borderSize);
				text-align: right;
			}

			&.header1 {
				right: 0;
				width: calc(50% - math.div($pregameLeagueLogoHeightSmall, $hexRatio) * .5 - $borderSize - $borderSize);
				text-align: left;
			}

			@include textPipes;

		}

		.teamStatsTitle {
			position: absolute;
			top: 205px;
			left: 0;
			width: $windowWidth;
			z-index: 25;
			color: white;
			font-family: var(--fontRajdhani);
			font-size: 44px;
			font-weight: bold;
			font-style: italic;
			text-align: center;
			text-transform: uppercase;
			letter-spacing: .15em;
			margin: 0;
			padding: 0 0 0 .3em;
		}

	}

	.teamStatsTable {
		position: absolute;
		left: 50%;
		top: 220px;
		transform: translateX(-50%);
		width: $tableWidth;
		text-transform: uppercase;
		table-layout: fixed;
		background: $backgroundTranslucent;
		border-collapse: collapse;
		border: $borderSize solid $backgroundColor;

		th, td {
			text-align: center;
			width: calc(($tableWidth - $tableCenterColumnWidth - $borderSize * 10) * .5);
			padding: calc($borderSize * 2.5) $borderSize;
			border: $borderSize solid $backgroundColor;

			&.centerColumn {
				width: calc($tableCenterColumnWidth - $borderSize * 4);
			}

		}

		thead {

			tr {
				background: $backgroundColor;
			}

			th {
				height: 65px;
				padding: 0;
				background: $backgroundColor;

				&.teamName {
					position: absolute;
					top: 0;
					left: 0;
					padding: 0;
					background: none;
					border: none;
				}

				.teamText {
					position: absolute;
					top: 160px;
					transform: rotate(-90deg);
					transform-origin: right center;
					text-align: right;
					text-transform: uppercase;

					.name {
						font-family: var(--fontHexagle);
						font-size: 70px;
						font-weight: bold;
						white-space: nowrap;
						color: $textColor;
						line-height: 70px;

						&.long {
							font-size: 55px;
						}

					}

					.franchise {
						font-family: var(--fontRajdhani);
						font-size: 30px;
						font-weight: normal;
						white-space: nowrap;
						color: $secondaryTextColor;
						padding-right: .12em;
					}

				}

				.teamLogo {
					position: absolute;
					top: -4px;
					@include teamLogoHex($statsTeamLogoSize);
				}

				&.team0 {

					.teamLogo {
						left: -286px;
						@include placeholderTeamlogo(var(--team0tone));
					}

					.teamText {
						right: 573px;
					}

				}

				&.team1 {

					.teamLogo {
						right: -1109px;
						@include placeholderTeamlogo(var(--team1tone));
					}

					.teamText {
						right: -1029px;
					}

				}

			}

			td.centerColumn {
				height: 30px;
				width: calc($tableCenterColumnWidth - $borderSize * 4);
				background-color: $backgroundColor;
			}

		}

		tbody {
			--postgameTeamFade: $backgroundTranslucent;
			--postgameTeamTone: $backgroundHighlight;

			th {
				color: $secondaryTextColor;
				font-family: var(--fontRajdhani);
				font-size: 30px;
				background: $backgroundColor;
			}

			td {
				width: calc(($tableWidth - $tableCenterColumnWidth - $borderSize * 10) * .5);
				font-family: var(--fontHexagle);
				font-size: 50px;
				font-weight: bold;
				vertical-align: middle;
				padding: .3em 0;
				background: var(--postgameTeamFade);

				&.better {
					background: var(--postgameTeamTone);
				}

				.pctSymbol {
					font-size: .75em;
				}

				.hyphen {
					position: relative;
					font-size: .6em;
					top: -.15em;
					padding: 0 .1em;
				}

			}

			.team0 {
				--postgameTeamFade: var(--team0fade);
				--postgameTeamTone: var(--team0tone);
			}

			.team1 {
				--postgameTeamFade: var(--team1fade);
				--postgameTeamTone: var(--team1tone);
			}

		}

	}

}
