@use "variables";

.teamSeriesScore {
    position: absolute;
    top: calc(variables.$mainHeaderHeight + variables.$mainBarHeight + variables.$topHeaderHeight);
	z-index: 35;
	width: variables.$seriesScoreWidth;
	height: variables.$seriesScoreHeight;

	.number {
		display: none;
	}

	.icons {
		margin: ((variables.$seriesScoreHeight - variables.$seriesScoreIconHeight) * .5) 0;
		width: variables.$seriesScoreWidth;
		height: calc(variables.$seriesScoreIconHeight);
		display: flex;
		column-gap: variables.$seriesScoreIconGap;

		.gameIcon {
			display: block;
			width: variables.$seriesScoreIconWidth;
			height: variables.$seriesScoreIconHeight;
			flex-grow: 0;
		}

	}


	&.team0 {
		right: calc(variables.$scoreboardWidth * .5 + variables.$clockWidth * .5 + variables.$teamScoreWidth + 2px);

		.icons {
			flex-direction: row-reverse;
			align-content: flex-start;

			.gameIcon {
				background:
					linear-gradient(var(--team0fade), var(--team0fade)),
					variables.$backgroundColor;

				&.on {
					background: var(--team0);
				}

			}

		}

	}

	&.team1 {
		left: calc(variables.$scoreboardWidth * .5 + variables.$clockWidth * .5 + variables.$teamScoreWidth + 2px);

		.icons {
			flex-direction: row;

			.gameIcon {
				background:
					linear-gradient(var(--team1fade), var(--team1fade)),
					variables.$backgroundColor;

				&.on {
					background: var(--team1);
				}
			}
		}

	}


}
