.teamLogo {
	@include teamLogoHex($teamLogoWidth);
	position: absolute;
	top: 50%;
	z-index: 80;
	transform: translateY(-50%);

	&.team0 {
		left: calc(0px - $teamLogoWidth * .5);
	}

	&.team1 {
		right: calc(0px - $teamLogoWidth * .5);
	}


}
