@use "variables";

$watchingOffScreen: calc(0px - variables.$watchingWidth - 100px);

.watchingView {
    position: absolute;
    right: $watchingOffScreen;
	// right: 0;
    bottom: 0;
    width: 100%;
	animation: slideInFromRight;
	animation-duration: .4s;
	animation-fill-mode: forwards;
	animation-delay: 0s;
	animation-timing-function: ease-out;

	.logo {
		display: none;
	}

	.stats {
		position: absolute;
		right: 0;
		bottom: 0;
		z-index: 10;
		width: variables.$watchingWidth;
		height: variables.$watchingHeight;
		line-height: 40px;
		vertical-align: baseline;
		padding: variables.$borderSize;
		padding-right: calc(variables.$borderSize * 3);
		background: variables.$backgroundTranslucent;

		.name {
			position: absolute;
			z-index: 5;
			bottom: calc(variables.$watchingHeight + variables.$borderSize * 2);
			left: 0;
			width: calc(variables.$watchingWidth - 200px + variables.$borderSize * 2);
			height: variables.$watchingNameHeight;
			overflow: hidden;
			color: variables.$textColor;
			font-family: var(--fontHexagle);
			font-size: 25px;
			font-weight: bold;
			font-style: italic;
			text-align: left;
			text-transform: uppercase;
			line-height: variables.$watchingNameHeight;
			white-space: nowrap;
			padding: variables.$borderSize;
			background: variables.$backgroundTranslucent linear-gradient(to right,
				var(--watchingBackgroundColor) 0,
				var(--watchingBackgroundColor) 75%,
				variables.$backgroundTransparent 98%
			);
			&.long {
				font-size: 21px;
			}

		}

		.statLine {
			display: flex;
			justify-content: flex-end;
			text-align: right;
			column-gap: 30px;

			.stat {

				.label {
					font-family: var(--fontRajdhani);
					font-size: 24px;
					font-weight: bold;
					color: variables.$secondaryTextColor;
					text-transform: uppercase;
					margin-right: variables.$borderSize;
				}

				.value {
					color: variables.$textColor;
					font-family: var(--fontHexagle);
					font-size: 30px;
				}

			}

		}


	}

	.boostText {
		position: absolute;
		bottom: 5px;
		left: 50%;
		z-index: 55;
		font-family: var(--fontHexagle);
		font-size: 56px;
		font-weight: bold;
		font-style: italic;
		text-align: center;
		font-weight: 700;
		color: var(--watchingColor);
		transform: translateX(-50%);
	}

	.boostDisplay {
		position: absolute;
		right: 0;
		bottom: calc(variables.$watchingHeight + variables.$borderSize * 2);
		width: 200px;
		height: 205px;
		background: variables.$backgroundTranslucent;
		mask-image: url("/images/themes/sgl/boost-bg-mask.png");
		mask-position: top center;

		.boost {
			position: absolute;
			top: 5px;
			left: -10px;
			width: 220px;
			height: 220px;
			mask-image: url("/images/themes/sgl/boost-meter-mask.png");

			.CircularProgressbar-text {
				text-align: center;
				font-size: 36px;
				vertical-align: bottom;
				font-weight: 700;
				fill: variables.$secondaryTextColor;
			}

		}

		.CircularProgressbar-trail {
			stroke: variables.$backgroundColor;
		}

	}

	&.team0 {

		.stats {
			border-color: var(--team0);

			.statLine .stat .label {
				color: var(--team0);
			}


		}

		.CircularProgressbar-trail {
			stroke: var(--team0fade);
		}

		.CircularProgressbar-path {
			stroke: var(--team0);
		}

	}

	&.team0 {
		--watchingColor: var(--team0);
		--watchingBackgroundColor: var(--team0fade);

		.stats {
			border-color: var(--team0);

			.statLine .stat .label {
				color: var(--team0);
			}


		}

		.CircularProgressbar-trail {
			stroke: var(--team0fade);
		}

		.CircularProgressbar-path {
			stroke: var(--team0);
		}

	}

	&.team1 {
		--watchingColor: var(--team1);
		--watchingBackgroundColor: var(--team1fade);

		.stats {
			border-color: var(--team1);

			.statLine .stat .label {
				color: var(--team1);
			}

		}

		.CircularProgressbar-trail {
			stroke: var(--team1fade);
		}

		.CircularProgressbar-path {
			stroke: var(--team1);
		}

	}

}


@keyframes slideInFromRight {
	0% {
		right: $watchingOffScreen;
	}
	100% {
		right: 0;
	}

}
