@font-face {
	font-family: "Hexagle";
	src: url("/fonts/Hexagle-Bold.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Rajdhani";
	src: url("/fonts/Rajdhani-Medium.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Rajdhani";
	src: url("/fonts/Rajdhani-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}
