.livePlay {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
	width: $windowWidth;
	height: $windowHeight;
	font-family: var(--fontHexagle);
	font-weight: bold;
	background: transparent;

	// testing
	// background: #334433;
	background: url("/images/test-bg.png");
	background-size: contain;


	// @import "ball";
	@import "clock";
	@import "header";
	@import "playerBoxes";
	@import "replay";
	@import "seriesInfo";
	@import "scoreboard";
	// @import "socialMedia";
	// @import "splash";
	@import "teamLogo";
	@import "teamName";
	@import "teamScore";
	@import "teamSeriesScore";
	@import "watching";
	@import "watermark";

}
