// @use "variables";

:root {
	background: transparent;
}

#Overlay.sgl {
	--fontHexagle: "Hexagle", Helvetica, Arial, sans-serif;
	--fontRajdhani: "Rajdhani", Helvetica, Arial, sans-serif;

	@import "mixins";

	@import "fonts";

	@import "live";

	@import "matchup";
	@import "matchdaySchedule";
	@import "playerStats";
	@import "standings";
	@import "teamStats";

	@import "postgame";

	@import "../transitions/hexGrow";

}
