$borderSize: 6px;
$hexRatio: 1.155208333333333;
$hexSlopeRatio: 1.743810810810811;

$windowWidth: 1920px;
$windowHeight: 1080px;

$pregameLeagueLogoHeight: 250px;
$pregameLeagueLogoHeightSmall: 150px;
$matchupTeamWidth: 600px;
$matchupTeamLogoSize: 400px;
$statsTeamLogoSize: 165px;

$mainBarHeight: 75px;
$clockWidth: 129px;

$teamScoreFromMiddle: calc($clockWidth * .5);
$teamScoreWidth: 90px;

$teamNameWidth: 300px;

$teamLogoWidth: 129px;

$scoreboardWidth: calc($teamLogoWidth + ($teamNameWidth + $teamScoreWidth) * 2 + $clockWidth);
$scoreboardHeight: 186px;

$topHeaderHeight: 37px;
$topHeaderStripeHeight: 2px;
$topHeaderStripeGap: 34.552px;

$mainHeaderHeight: 37px;
$headerWidth: calc($scoreboardWidth * .5 - $teamLogoWidth * .5 - $clockWidth * .5);
$spanSpacing: .5em;
$pipeSpacing: .2em;

$seriesInfoWidth: 400px;
$seriesInfoHeight: 34px;

$seriesScoreWidth: 285px;
$seriesScoreHeight: 37px;
$seriesScoreIconWidth: 73px;
$seriesScoreIconHeight: 15px;
$seriesScoreIconHeight: 15px;
$seriesScoreIconGap: 10px;

$watchingHeight: 35px;
$watchingWidth: 450px;
$watchingNameHeight: 32px;

$replayHeight: 160px;
$replayWidth: 550px;
$replayLabelHeight: 38px;

$playerBoxWidth: 310px;
$playerBoxHeight: 26px;
$playerBoxMargin: 7px;
$playerBoxPadding: 5px;
$playerBoxBoostTextWidth: 44px;
$playerBoxBoostBarSize: $borderSize;
$playerBoxEventSize: 24px;

$scheduleTeamLogoSize: 80px;
$scheduleTeamBoxMargin: .04;
$scheduleScoreWidth: 100px;

// colors (team colors use css variables from React component)
$sglRed: #ec2227;
$sglRedTone: rgba($sglRed, .7);
$sglRedFade: rgba($sglRed, .25);
$sglBlue: rgba(#2bace2, 1);
$sglBlueTone: rgba($sglBlue, .7);
$sglBlueFade: rgba($sglBlue, .25);

$textColor: #ffffff;
$secondaryTextColor: #cccccc;
$highlightColor: #ffd100;

$backgroundColor: #000000;
$backgroundHighlight: #333333;
$backgroundTranslucent: rgba($backgroundColor, .4);
$backgroundTransparent: rgba($backgroundColor, 0);
$highlightTranslucent: rgba($highlightColor, .4);

$clockBackgroundColor: #ffffff;
$timeColor: $backgroundColor;

$goalColor: #ffd100;

:root {
	background: transparent;
}

#Overlay.sgl {

	--fontHexagle: "Hexagle", Helvetica, Arial, sans-serif;
	--fontRajdhani: "Rajdhani", Helvetica, Arial, sans-serif;

	@import "mixins";

	@import "fonts";

	@import "live";

	@import "matchup";
	@import "matchdaySchedule";
	@import "playerStats";
	@import "teamStats";

	@import "postgame";

	@import "../transitions/hexGrow";

}
