$windowWidth: 1920px;
$windowHeight: 1080px;

$borderSize: 6px;
$hexRatio: 1.155208333333333;

$pregameLeagueLogoHeight: 250px;
$pregameLeagueLogoHeightSmall: 150px;
$spanSpacing: .5em;
$pipeSpacing: .2em;

$sglRed: #ec2227;
$sglRedTone: rgba($sglRed, .7);
$sglRedFade: rgba($sglRed, .25);
$sglBlue: rgba(#2bace2, 1);
$sglBlueTone: rgba($sglBlue, .7);
$sglBlueFade: rgba($sglBlue, .25);

$backgroundColor: #000000;
$backgroundHighlight: #333333;
$backgroundTranslucent: rgba($backgroundColor, .4);

$textColor: #ffffff;
$secondaryTextColor: #cccccc;
$highlightColor: #ffd100;

$standingsTeamLogoWidth: 80px;

@import "../mixins";
@import "../standings";
