.clock {
	--clockBackgroundImage: url("/images/themes/rsc/clock-splatter.png");
	--team0ClockColor: var(--team0);
	--team1ClockColor: var(--team1);

	&.overtime {
		--clockBackgroundImage: url("/images/themes/rsc/clock-splatter-red.png");
	}

	&.goal0 {
		--team0ClockColor: #{$highlightColor};
	}

	&.goal1 {
		--team1ClockColor: #{$highlightColor};
	}


	height: $mainBarHeight;
	background-image:
		var(--clockBackgroundImage),
		linear-gradient(to right,
			transparent 0px,
			transparent calc(($scoreboardWidth - $headerWidth) * .5 ),
			var(--team0ClockColor) calc(($scoreboardWidth - $headerWidth) * .5 + $headerGradientWidth)),
		linear-gradient(to left,
			transparent 0px,
			transparent calc(($scoreboardWidth - $headerWidth) * .5 ),
			var(--team1ClockColor) calc(($scoreboardWidth - $headerWidth) * .5 + $headerGradientWidth));
	background-size:
		230px 72px,
		50% 100%,
		50% 100%;
	background-position:
		center top,
		left top,
		right top;
	background-repeat:
		no-repeat,
		no-repeat,
		no-repeat;

	.time {
		font-family: var(--fontUltimatum);
		font-size: 58px;
		font-weight: bold;
		font-style: italic;
		color: $timeColor;
		text-align: center;
		line-height: calc($mainBarHeight - 15px);

		.colon {
			position: relative;
			top: -10px;
			font-size: 90%;
			padding-left: .12rem;
			margin-right: -.15rem;
		}

		.plus {
			display: none;
		}

	}

	.overtimeText {
		position: absolute;
		left: 50%;
		top: 100%;
		transform: translateX(-50%);
		height: $overtimeHeight;
		font-family: var(--fontUltimatum);
		font-size: 14px;
		font-weight: bold;
		font-style: italic;
		color: #ffffff;
		text-align: center;
		letter-spacing: .2em;
		line-height: calc($overtimeHeight - 1px);
		padding: 0 10px;
		background: $overtimeColor;
	}


}
