$spanSpacing: .5em;
$pipeSpacing: .2em;


.header0 {
	width: $headerWidth;
	height: $mainHeaderHeight;
	font-family: var(--fontUltimatum);
	font-style: italic;
	font-size: 22px;
	color: $highlightColor;
	text-transform: uppercase;
	text-align: center;
	line-height: $mainHeaderHeight;
	letter-spacing: .3em;
	margin: 0 auto;
	background: linear-gradient(to right,
		$backgroundTransparent 0,
		$backgroundColor $headerGradientWidth,
		$backgroundColor calc($headerWidth - $headerGradientWidth),
		$backgroundTransparent $headerWidth
	);
}

.header {

	span {
		display: inline-block;

		&:not(:last-child) {
			margin-right: .5em;
		}

	}

	&.pipes {

		span {
			&:not(:last-child) {
				margin-right: $spanSpacing;

				&:after {
					content: "|";
					font-family: var(--fontSans);
					font-weight: bold;
					font-style: italic;
					color: $secondaryTextColor;
					margin: 0 $pipeSpacing 0 calc($pipeSpacing + $spanSpacing);
				}
			}

		}

	}

	&.tierPremier .tier,
	&.tierFinal.tierPremier {
		color: var(--tierPremier);
	}
	&.tierMaster .tier,
	&.tierFinal.tierMaster  {
		color: var(--tierMaster);
	}
	&.tierElite .tier,
	&.tierFinal.tierElite  {
		color: var(--tierElite);
	}
	&.tierVeteran .tier,
	&.tierFinal.tierVeteran  {
		color: var(--tierVeteran);
	}
	&.tierRival .tier,
	&.tierFinal.tierRival  {
		color: var(--tierRival);
	}
	&.tierChallenger .tier,
	&.tierFinal.tierChallenger  {
		color: var(--tierChallenger);
	}
	&.tierProspect .tier,
	&.tierFinal.tierProspect  {
		color: var(--tierProspect);
	}
	&.tierContender .tier,
	&.tierFinal.tierContender  {
		color: var(--tierContender);
	}
	&.tierAmateur .tier,
	&.tierFinal.tierAmateur {
		color: var(--tierAmateur);
	}

}
