.watermark {
	position: absolute;
	left: 75px;
	bottom: $watchingHeight + 85px;
	width: 150px;
	height: 150px;
	opacity: .55;

	img {
		filter: grayscale(.5);
		width: 100%;
		height: 100%;
		object-fit: contain;
		object-position: 50% 50%;
	}

}

.leagueName {
	position: absolute;
	z-index: 5;
	bottom: calc($watchingHeight + 35px);
	left: 30px;
	width: 250px;
	color: $highlightTranslucent;
	font-family: var(--fontUltimatum);
	font-size: 18px;
	font-weight: bold;
	font-style: italic;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .5em;
	margin-right: 1.5em;
}
