@font-face {
	font-family: "Ultimatum";
	src: url("/fonts/cc-ultimatum-regular.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Ultimatum";
	src: url("/fonts/cc-ultimatum-italic.otf") format("opentype");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "Ultimatum";
	src: url("/fonts/cc-ultimatum-heavy.otf") format("opentype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Ultimatum";
	src: url("/fonts/cc-ultimatum-heavy-italic.otf") format("opentype");
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "CooperHewitt";
	src: url("/fonts/CooperHewitt-Semibold.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "CooperHewitt";
	src: url("/fonts/CooperHewitt-Heavy.otf") format("opentype");
	font-weight: bold;
	font-style: normal;
}
