:root:has(#ControlPanel) {
	background: black;
}

body:has(#ControlPanel) {
	overflow: auto;
}

#ControlPanel {
	font-size: .75rem;
	color: white;
	background: black;

	h1 {
		font-size: .75rem;
		text-align: center;
		margin: 0 0 .2rem 0;
		padding: .2rem;
		background-color: #333333;
		border-bottom: 1px solid #999999;
	}

	.MuiButton-root {
		font-size: .75rem;
		margin: 3px;
		padding: .1rem .2rem;

		&.team1 {
			border-color: purple;
		}
	}

	.MuiButtonGroup-root {
		margin: 3px;

		.MuiButton-root {
			margin: 0;
		}

	}

	.team {
		border: 1px solid #999999;
	}

	.gridRow {
		margin-bottom: 5px;
	}

	.idGrid {
		margin-bottom: 15px;
		background: #222222;
		border: 1px solid #999999;
	}

	.pregameButtons {
		margin-bottom: 15px;
		background: #222222;
		border: 1px solid #666666;

		h2 {
			font-size: .75rem;
			text-align: center;
			margin: 0 0 .2rem 0;
			padding: .2rem;
			background-color: #333333;
			border-bottom: 1px solid #999999;

		}
	}

	.mainPanelGrid {
		padding: 2px;

		.MuiFormControl-root {
			margin: 3px 3px 8px;
		}


	}

	.buttons {
		text-align: center;
		margin-bottom: 10px;
	}

	.changedField fieldset {
		border-color: yellow;
	}

	.errorField fieldset {
		border-color: red;
	}

	// checkbox
	.changedField svg {
		fill: yellow;
	}

	span.changedField {
		color: yellow;
	}

	em {
		font-style: italic;
	}

}
