:root:has(#ImageGenerator) {
	background: black;
}

body:has(#ImageGenerator) {
	overflow: auto;
}

@import "themes/sgl/fonts";

#ImageGenerator {
	--fontHexagle: "Hexagle", Helvetica, Arial, sans-serif;
	--fontRajdhani: "Rajdhani", Helvetica, Arial, sans-serif;

	.selectors {
		height: 500px;
		margin-bottom: 20px;
		padding: 20px;
		background-color: #222222;
		border-bottom: 2px solid #ffffff;

		p {
			font-weight: bold;
			margin: 0 0 1.2em 0;
		}

		.MuiFormControl-root {
			margin-bottom: 1em;
		}

		.MuiButton-root {
			margin-right: 1em;
		}

		.errorField fieldset {
			border-color: red;
		}

		.switchControl {
			display: inline-block;
			margin-right: .7em;
		}

	}

	.buttons {
		margin-top: 1em;
	}

	.sources {
		position: absolute;
		left: -4000px;
		top: -4000px;

		> div {
			position: absolute;
			left: 0;
			top: 0;
		}

		@import "themes/sgl/imageGen/matchdaySchedule";
		@import "themes/sgl/imageGen/standings";

	}

	.output {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;

		.generatedImage {
			width: 300px;
			height: 200px;
			margin: 0 20px 30px;
			padding: 10px;
			align-self: flex-start;

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
				object-position: 50% 50%;
				border: 1px solid #FFFFFF;
			}

			.label {
				text-align: center;
				margin-bottom: .5em;
			}

		}

	}

}
