.watermark {
	position: absolute;
	left: 80px;
	bottom: 160px;
	width: 90px;
	height: 90px;
	opacity: .4;

	img {
		filter: grayscale(.5);
		width: 100%;
		height: 100%;
		object-fit: contain;
		object-position: 50% 50%;
	}

}
